* {
  padding: 0px;
  margin: 0px;
}

.container {
  margin: 0 auto;
  display: flex;
}

.column {
  width: 100%;
  border: 3px solid grey;
}

.item__container {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button, input[type="text"] {
  width: 60%;
}

.list__btn {
  width: 40px;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

h5 {
  text-align: center;
}

.name__column {
  width: 40%;
}

.price__column, .quantity__column, .btn__column {
  width: 20%;
}